<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <title>ParkingLotWeb</title>
        <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="lib/angular/angular-csp.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="~/css/site.css" media="screen" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="#">ParkingLotWeb</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="Secret">Secret</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - ParkingLotWeb</p>
        </footer>
    </div>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular-resource/angular-resource.min.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <script src="~/js/models/priceModel.model.js"></script>

        <script src="~/js/views/SecretPage/secret.controller.js"></script>
        <script src="~/js/views/SecretPage/secret.config.js"></script>
        <script src="~/js/views/SecretPage/secrete.js"></script>

        <script src="~/js/views/SecretPage/editPriceModel/editPriceModel.controller.js"></script>
        <script src="~/js/views/SecretPage/editPriceModel/edirPriceModel.config.js"></script>
        <script src="~/js/views/SecretPage/editPriceModel/editPriceModel.js"></script>



        <script src="~/js/views/view.js"></script>

        <script src="~/js/app.config.js"></script>
        <script src="js/app.js"></script>

</body>
</html>
