<h2>Welcome to Secret Page</h2>
<p>View Price Table</p>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Price</th>
                <th>Vehicle Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="priceModel in vm.priceModels">
                <td>{{priceModel.price|currency}}</td>
                <td>{{priceModel.vehicleType}}</td>
                <td>
                    <a class="btn btn-warning" ng-click="vm.edit(priceModel.id)">Edit</a> 
                    <a class="btn btn-danger"  onclick="$('.alert').show()">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <!--<div class="alert alert-danger alert-dismissable" ng-show="vm.ifDangerIsTrue">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">Cancle</a>
        <a href="#" class="close" data-dismiss="alert" ng-click="vm.edit(priceModel.id)">Delete&nbsp&nbsp&nbsp&nbsp</a>
        <p><strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.</p>
        <p>Do you really want to DELETE it?</p>
    </div>-->
    <div class="alert  alert-danger" style="display: none">
        <a class="close" onclick="$('.alert').hide()">Cancle</a>
        <a href="#" class="close" data-dismiss="alert" ng-click="vm.edit(priceModel.id)">Delete&nbsp&nbsp&nbsp&nbsp</a>
        <p><strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.</p>
        <p>Do you really want to DELETE it?</p>    </div>
    <button type="button" class="btn btn-primary">Create a new entry</button>

</div>